body.has-navbar-fixed-top {
    padding-top: 48px;
}

body > section > div.container {
    max-width: 90ex;
}


.reblog-icon {
    position: relative;
    top: -24px;
    left: 40px;
}

img.fav-avatar {
    display: inline;

}


.media-content {
    padding: 1.5ex;
}

@media screen and (max-width: 768px)
{
    .is-max-128 {
        max-height: 128px;
        max-width: 128px;
    }

    .is-max-256 {
        max-height: 256px;
        max-width: 256px;
    }

}

@media screen and (min-width: 769px)
{
    .is-max-128 {
        max-height: 40em;
        max-width: 40em;
    }

    .is-max-256 {
        max-height: 80em;
        max-width: 80em;
    }

}

figure.media-left p.image a img
{
    border-radius: 5px;
}

img.avatar
{
    border-radius: 5px;
}

.active-context {
    background-color: #444;
}

h2.subtitle
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article.media.user-info .content img
{
    max-height: 1.5rem;
    max-width: 1.5rem;
}

span.account-locked
{
    margin-top: 48px;
    margin-left: -16px;
}

.errorlist
{
    color: #FF0000;
}

.emoji-box
{
    padding: .75rem;
    background-color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img.emoji
{
    display: inline;
    max-height: 1.5em;
    max-width: 1.5em;
    vertical-align: text-bottom;
}

emoji-link
{
    font-size: 2em;
}


@media screen and (max-width: 768px) {
    .media {
        display: block;
    }
}

.file-cta
{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 38px;
}
