
.reblog-icon {
    position: relative;
    top: -24px;
    left: 40px;
}

img.fav-avatar {
    display: inline;

}


div.card-header-title, div.card-header-icon {
    color: black;
    -webkit-text-stroke: 2px white;
    -moz-text-stroke: 2px white;
    text-stroke: 2px white;
}

.media {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    padding: 1.25rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.is-max-128 {
    max-height: 128px;
    max-width: 128px;
}

.is-max-256 {
    max-height: 256px;
    max-width: 256px;
}

figure.media-left p.image a img
{
    border-radius: 5px;
}

.active-context {
    background-color: #FFF8DC;
}

@media screen and (max-width: 768px) {
    .media {
        display: block;
    }
}
