body > section > div.container {
    max-width: 90ex;
}


.reblog-icon {
    position: relative;
    top: -24px;
    left: 40px;
}

img.fav-avatar {
    display: inline;

}


div.card-header-title, div.card-header-icon {
    color: black;
    -webkit-text-stroke: 2px white;
    -moz-text-stroke: 2px white;
    text-stroke: 2px white;
}


.media-content {
    padding: 1.5ex;
}

@media screen and (max-width: 768px)
{
    .is-max-128 {
        max-height: 128px;
        max-width: 128px;
    }

    .is-max-256 {
        max-height: 256px;
        max-width: 256px;
    }

}

@media screen and (min-width: 769px)
{
    .is-max-128 {
        max-height: 50%;
        max-width: 50%;
    }

    .is-max-256 {
        max-height: 100%;
        max-width: 100%;
    }

}

figure.media-left p.image a img
{
    border-radius: 5px;
}

img.avatar
{
    border-radius: 5px;
}

.active-context {
    background-color: #FFF8DC;
}

h2.subtitle
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

article.media.user-info .content img
{
    max-height: 1.5rem;
    max-width: 1.5rem;
}

span.account-locked
{
    margin-top: 48px;
    margin-left: -16px;
}

.errorlist
{
    color: #FF0000;
}

.emoji-box
{
    padding: .75rem;
    background-color: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 5px;
}

img.emoji
{
    display: inline;
    max-height: 1.5em;
    max-width: 1.5em;
    vertical-align: text-bottom;
}

emoji-link
{
    font-size: 2em;
}


@media screen and (max-width: 768px) {
    .media {
        display: block;
    }
}
