
.reblog-icon {
    position: relative;
    top: -24px;
    left: 40px;
}

img.fav-avatar {
    display: inline;

}

.box.active_context {
    background-color: #FFF8DC;
}

div.card-header-title, div.card-header-icon {
    color: black;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}
