{% extends "base.html" %}
{% load humanize %}
{% load taglinks %}

{% block title %}
Brutaldon - {{ timeline }} timelime
{% endblock %}

{% comment %}
mastodon.notifications()[0]
# Returns the following dictionary:
{
'id': # id of the notification
'type': # "mention", "reblog", "favourite" or "follow"
'created_at': # The time the notification was created
'account': # User dict of the user from whom the notification originates
'status': # In case of "mention", the mentioning status
# In case of reblog / favourite, the reblogged / favourited status
}
{% endcomment %}


{% block content %}
<h1 class="title">Your {{ timeline }} timeline</h1>
{% for note in notes %}
{% if note.type == 'mention' %}
<p>
    <strong>{{ note.account.display_name }}</strong>
    (<a href="{{ note.account.url | localuser }}">{{ note.account.acct }}</a>)
    mentioned you.
</p>
<br>
{% include "main/toot_partial.html" with toot=note.status reblog=False %}
<hr class="is-hidden">
{% elif note.type == 'reblog' %}
<p>
    {{ note.account.display_name }}
    (<a href="{{ note.account.url | localuser }}">{{ note.account.acct }}</a>)
    boosted your toot.
    (<span>
    <small>{{ note.created_at |naturaltime  }}</small>
    </span>)
</p>
{% include "main/toot_partial.html" with toot=note.status reblog=True reblog_by=note.account.acct reblog_icon=note.account.avatar %}
<hr class="is-hidden">
{% elif note.type == 'favourite' %}
<p>
    {{ note.account.display_name }}
    (<a href="{{ note.account.url | localuser}}">{{ note.account.acct }}</a>)
    favorited your toot.
    (<span>
    <small>{{ note.created_at |naturaltime  }}</small>
    </span>)
</p>
{% include "main/toot_partial.html" with toot=note.status %}
<hr class="is-hidden">
{% elif note.type == 'follow' %}
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="{{ note.account.avatar }}" alt="">
        </p>
    </figure>
    <div class="media-content" >
        <div class="content">
            <strong>{{ note.account.display_name }}</strong>
            (<a href="{{ note.account.url |localuser }}">{{ note.account.acct }}</a>)
            followed you.
            (<a href="{{ note.url }}">
                <small>{{ note.created_at |naturaltime  }}</small>
            </a>)
        </div>
    </div>
</article>
<hr class="is-hidden">
{% endif %}
{% endfor %}

{% endblock %}
