{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Brutaldon - reply
{% endblock %}

{% block content %}
    <h1 class="title">Thread</h1>
    {% for ancestor in context.ancestors %}
        <div class="box">
            {% include "main/toot_partial.html" with toot=ancestor %}
        </div>
        <hr class="is-hidden">
    {% endfor %}
    <div class="box active_context">
        {% include "main/toot_partial.html" with toot=toot %}
    </div>
    <hr class="is-hidden">
    <div class="box">
        {% include "main/post_partial.html" %}
    </div>

{% endblock %}
