{% extends "base.html" %}
{% load humanize %}

{% block title %}
Brutaldon - thread
{% endblock %}

{% comment %}
mastodon.status_context(<numerical id>)
    # Returns the following dictionary:
    {
    'ancestors': # A list of toot dicts
    'descendants': # A list of toot dicts
    }
    {% endcomment %}

    {% block content %}
    <h1 class="title">Thread</h1>
    {% for ancestor in context.ancestors %}
    {% include "main/toot_partial.html" with toot=ancestor %}
    <hr class="is-hidden">
    {% endfor %}
        {% include "main/toot_partial.html" with toot=toot active=True %}
    <hr class="is-hidden">
    {% for descendant in context.descendants %}
    {% include "main/toot_partial.html" with toot=descendant %}
    <hr class="is-hidden">
    {% endfor %}


    {% endblock %}
