{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Brutaldon ({{ own_acct.username }}) - thread
{% endblock %}

{% comment %}
mastodon.status_context(<numerical id>)
# Returns the following dictionary:
{
'ancestors': # A list of toot dicts
'descendants': # A list of toot dicts
}
{% endcomment %}

{% block content %}
    <h1 id="title" class="title">
        Thread
    </h1>
    {% include "main/toot_partial.html" with toot=root %}
    {% for descendant in descendants %}
        {% if descendant == toot %}
            {% include "main/toot_partial.html" with toot=toot active=True %}
        {% else %}
            {% include "main/toot_partial.html" with toot=descendant %}
        {% endif %}
        <hr class="is-hidden">
    {% endfor %}

    {% if not preferences.no_javascript %}
        <script type="application/javascript">
         Intercooler.ready(expandCWButtonPrepare);
        </script>
    {% endif %}
{% endblock %}
