{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Brutaldon ({{ own_acct.username }}) - thread
{% endblock %}

{% comment %}
mastodon.status_context(<numerical id>)
# Returns the following dictionary:
{
'ancestors': # A list of toot dicts
'descendants': # A list of toot dicts
}
{% endcomment %}

{% block content %}
    <h1 id="title" class="title">
        Thread
    </h1>
    {% if preferences.tree_threads %}
        {% for op in toots %}
           {% if op == IN %}
           <ul>
           {% elif op == OUT %}
           </ul>
           {% else %}
           <li>
           {% if op.toot == activetoot %}
                {% include "main/toot_partial.html" with toot=op.toot active=True %}
           {% else %}
                {% include "main/toot_partial.html" with toot=op.toot %}
           {% endif %}
           </li>
           {% endif %}
        {% endfor %}
    {% else %}
        {% include "main/toot_partial.html" with toot=root %}
        {% for cur in descendants %}
           {% if cur == activetoot %}
                   {% include "main/toot_partial.html" with toot=cur active=True %}
           {% else %}
                {% include "main/toot_partial.html" with toot=cur %}
           {% endif %}
        {% endfor %}
    {% endif %}
    {% if not preferences.no_javascript %}
        <script type="application/javascript">
         Intercooler.ready(expandCWButtonPrepare);
        </script>
    {% endif %}
{% endblock %}
