{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Brutaldon - {{ timeline }} timelime
{% endblock %}

{% block content %}
{% if form %}
    <h1 class="title">Post</h1>
    <div class="box">
        {% include "main/post_partial.html" %}
    </div>
    <hr class="is-hidden">
{% endif %}
    <h1 class="title">Your {{ timeline }} timeline</h1>
    {% for toot in toots %}
    <div class="box">
        {% if toot.reblog %}
            {% include "main/toot_partial.html" with toot=toot.reblog reblog=True reblog_by=toot.account.acct reblog_icon=toot.account.avatar %}
        {% else %}
            {% include "main/toot_partial.html" with toot=toot reblog=False %}
        {% endif %}
    </div>
        <hr class="is-hidden">
    {% endfor %}

{% endblock %}
