{% extends "base.html" %}
{% load humanize %}
{% load sanitizer %}
{% load taglinks %}

{% block title %}
Brutaldon - {{ timeline }} timelime
{% endblock %}

{% block content %}

<div class="card">
    {% if not fullbrutalism %}
        <div class="card-header" style="background-image: url({{ user.header }});">
    {% else %}
        <div class="card-header">
    {% endif %}
            <div class="card-header-title title">
                <a href="{{ user.url }}">
                    {{ user.display_name }}
                </a>
            </div>
            <figure class="image is-96x96 card-header-icon">
                <img src="{{ user.avatar }}" alt="Avatar">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                {{ user.note | relink_toot | strip_html | safe }}
            </div>
            <div class="level">
                <div class="level-left">
                    <span class="level-item">Follow</span>
                    <span class="level-item">View on home site</span>
                </div>
                <div class="level-right">
                    <span class="level-item">Mute</span>
                    <span class="level-item">Block</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% for toot in toots %}
    {% if toot.reblog %}
    {% include "main/toot_partial.html" with toot=toot.reblog reblog=True reblog_by=toot.account.acct reblog_icon=toot.account.avatar %}
    {% else %}
    {% include "main/toot_partial.html" with toot=toot reblog=False %}
    {% endif %}
    <hr class="is-hidden">
    {% endfor %}

    {% endblock %}
