<article class="media box">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="{{ account.user.avatar_static }}"
                 alt="{{ account.user.acct }}">
        </p>
    </figure>
    <div class="media-content">
        <strong>{{ account.user.display_name }}</strong> ({{ account.user.username }})
    </div>
    <div class="media-right">
        <form method="POST" action="{% url "accounts" account.account_id %}">
            {% csrf_token %}
            <button class="button" name="activate" value="1">Activate</button>
            <button class="button" name="forget" value="1">Forget</button>
        </form>
    </div>
</article>
